build/
dist/
*.jar
*.class
/nbproject/private/
QueryTests.txt
QueryResults.txt
QueryResultsVersion1.txt
QueryResultsVersion2.txt
QueryResultsVersion3.txt
QueryResultsVersion4.txt
QueryResultsVersion5.txt
MultiCoreProject.jar
README.TXT